.artist-page {
    margin:50px 25px;
}

.artist-albums {
    margin: 40px 25px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px; 
    align-items: center;
}

.albumName {
    font-weight: bold;
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    justify-content: space-around;
    align-items: center;
}

.addedToCart {
    text-decoration: none;
    color: var(--main);
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec);
    border-radius: 100px;
    height: 30px;
    width: 60px;
}

.addedToCart:hover{
    color: var(--sec);
    background-color: var(--main);
    border-radius: 100px;
    transition: background-color 0.3s linear;
}

.search-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.backToShop {
    text-decoration:none;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    border-radius: 100px;
    height: 30px;
    width: 150px;
}

.backToShop:hover {
    color: var(--main);
    background-color: var(--sec);
    border-radius: 100px;
    transition: background-color 0.3s linear;
}