.contacts {
    margin: 50px 25px
}

.contacts-title {
    margin: 40px 0px;
}

.contactsTitle {
    color: var(--main);
    text-align: center;
}

.topicTitle {
    display: flex;
    align-items: center;
    background-color: var(--color-one);
    border-radius: 100px;
    height: 30px;
    text-indent: 10px;
}

.topicAnswer {
    margin-left: 25px;
}