.questions {
    margin: 50px 25px 
}

.questions-title {
    margin: 40px 0px;
}

.questionTitle {
    display: flex;
    align-items: center;
    background-color: var(--color-two);
    border-radius: 100px;
    height: 30px;
    text-indent: 10px;
}

.questionAnswer {
    margin-left: 25px;
}