.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px;
}

.linkOption {
    height: 70px;
    width: 70px;
}