.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px 25px
}

.socials-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px;
    gap: 15px
}

.linkOption {
    height: 70px;
    width: 70px;
}