.footer {
    background-color: var(--color-one);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 25px;
}

.navLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.orderButton {
    border: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--main);
    border-radius: 100px;
    height: 25px;
}

.orderButton:hover {
    color:var(--main);
    background-color: var(--sec);
    transition: background-color 0.3s linear;
}

.paymentImg {
    height: 50px;
    width: 50px;
}