.footer {
    background-color: var(--sec);
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.navLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}