.orders-page {
    margin: 50px 25px
}

.orders-page-title {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ordersTitle {
    color: var(--main);
    text-align: center;
}

.form-parameters {
    margin: 10px 0px
}

.label {
    display: flex;
    align-items: center;
    background-color: var(--color-one);
    border-radius: 100px;
    height: 30px;
    text-indent: 10px;
}

.answer {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--sec);
    border-radius: 100px;
    height: 30px;
    width: 200px;
    margin-top: 5px
}

.answer:placeholder-shown {
    text-align: center;
}

.order-button {
    border: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--main);
    border-radius: 100px;
    height: 35px;
    width: 125px;
    margin-top: 20px;
}

.order-button:hover {
    color:var(--main);
    background-color: var(--sec);
    transition: background-color 0.3s linear;
}

.payment-checkout {
    display: flex;
    flex-direction: row;
    gap: 10px
}


/*---*/

.orders-confirm {
    height: 100%;
}

.shop-more-button {
    border: none;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: var(--main);
    border-radius: 100px;
    height: 35px;
    width: 125px;
    margin-top: 20px;
}

.shop-more-button:hover {
    color:var(--main);
    background-color: var(--sec);
    transition: background-color 0.3s linear;
}