.artists-gallery {
    margin:50px 25px
}

.artists-gallery-title {
    margin: 40px 0px 20px;
}

.artistsGalleryTtitle {
    color: var(--main);
    text-align: center;
}

.artists-images {
    margin: 30px 0px 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px; 
    align-items: center;
}

.artistName {
    display: flex;
    justify-content: center;
    margin-top: 5px
}

.product {
    height: 250px;
    width: 250px;
}