.shopName {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px
    
}

.shopName div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-Icon {
    width: 35px;
    height: 35px
}