@import url(./shopName.css);
@import url(./headerBar.css);
@import url(./navBar.css);
@import url(./mostSold.css);
@import url(./findUs.css);
@import url(./footer.css);

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: whitesmoke;
}

.initial {
    padding: 25px
}

:root {
    --main: #9b9b9b;
    --sec: #FFFFFF;
    --color-one: #d5d5d5;
}

hr {
    border: dashed 3px;
    border-bottom:0cap;
    border-left:0cap;
    border-right:0cap;
    border-color: gray;

}