@import url(./shopName.css);
@import url(./headerBar.css);
@import url(./navBar.css);
@import url(./mostSold.css);
@import url(./findUs.css);
@import url(./footer.css);

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #cacaca;
}

.initial {
    padding: 25px
}

:root {
    --main: rgb(255, 97, 97);
    --sec: rgb(255, 164, 164);
    --color-one: rgb(255, 221, 233);
}

hr {
    border: dashed 3px;
    border-bottom:0cap;
    border-left:0cap;
    border-right:0cap;
    border-color: gray;
}